<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.micro.biz.mapper.member.IPermissionMapper">

    <!-- 关联查询全部用户权限列表 -->
    <select id="selectPermissionsByMemberId" resultType="cn.micro.biz.model.view.MemberPermission">
        SELECT * FROM view_member_permission WHERE member_id=#{memberId} AND deleted=0
    </select>

</mapper>
